.menuWrap {
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  opacity: 0;

  &.menuShown {
    animation: animateMenuShown 0.2s;
    opacity: 1;
  }

  &.settingsShown {
    transform: scale(0.67);
    opacity: 0;
  }

  .top {
    display: flex;
  }

  .middle {
    margin: 0 44px;

    .playSpectate {
      margin-top: 112px;
    }

    .customization {
      margin-top: 124px;
    }
  }

  .bottom {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
}

@keyframes animateMenuShown {
  from {
    transform: scale(1.33);
  }

  to {
    transform: scale(1);
  }
}
