.menuWrap {
  display: flex;
  flex-direction: column;
  transition: .2s;
  opacity: 0;
  transform: scale(1.5);
  animation: delayVisibilityHidden 0;
  animation-fill-mode: forwards;
  animation-delay: .2s;

  &.menuShown {
    transform: scale(1);
    opacity: 1;
    animation: delayVisibilityVisible 0;
    animation-fill-mode: forwards;
  }

  &.settingsShown {
    transform: scale(0.5);
    opacity: 0;
    animation: delayVisibilityHidden 0;
    animation-fill-mode: forwards;
    animation-delay: .2s;
  }

  .top {
    display: flex;
  }

  .middle {
    margin: 0 44px;

    .playSpectate {
      margin-top: 112px;
    }

    .customization {
      margin-top: 124px;
    }
  }

  .bottom {
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }
}

@keyframes delayVisibilityHidden {
  from { }
  to {
    visibility: hidden;
  }
}

@keyframes delayVisibilityVisible {
  from { }
  to { 
    visibility: visible;
  }
}