.wrap {
  display: flex;
  align-items: center;

  button {
    font-size: 15px;
    font-weight: 400;
    padding: 14px 12px;
    padding-top: 16px;
    color: #bbb;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      transition: 0.15s;
      margin-right: 4px;
    }

    &:hover svg {
      transform: scale(1.1) translateX(-2px);
    }

    &.save {
      color: rgb(153, 192, 255);
    }
  }
}
