.wrap {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(12, 12, 12, .975);
  transition: .2s;
  visibility: visible;

  &.hidden {
    opacity: 0;
    animation: setVisibilityHidden 0s;
    animation-fill-mode: forwards;
    animation-delay: .2s;
  }

  .innerWrap {
    transform: scale(0.91) translateZ(0);
    backface-visibility: hidden;
    position: relative;
  }
}

.hudsWrap {
  transition: .2s;

  &.hidden {
    opacity: 0;
  }
}

@media setVisibilityHidden {
  to { 
    visibility: hidden;
    transform: scale(0); 
  }
}

@media screen and (max-height: 720px) {
  .wrap .innerWrap {
    transform: scale(0.82);
  }
}