.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(12, 12, 12, 0.975);
  transition: 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  &.theming {
    background-color: transparent;
  }

  &.hidden {
    opacity: 0;
    animation: hidden 0.2s;
    z-index: 0;
  }

  .innerWrap {
    transform: scale(0.88);
    transition: 0.1s;
    position: absolute;
  }
}

@keyframes hidden {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.33);
  }
}

@media screen and (max-height: 720px) {
  .wrap .innerWrap {
    transform: scale(0.75);
  }
}
