.wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  font-size: 15px;
  border-bottom-left-radius: 4px;

  .players {
    display: flex;
    flex-direction: column;
    margin: 12px;

    .player:first-child {
      padding-top: 0;
    }

    .player:last-child {
      padding-bottom: 0;
    }

    .player {
      display: flex;
      padding: 1px;
      width: 170px;
      overflow: hidden;
      white-space: nowrap;

      .position {
        margin-right: 8px;
      }
    }
  }
}