.wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  opacity: 1;
  transition: .8s;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: opacity, transform, border-radius;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../assets/loader-bg.jpg) no-repeat center center fixed;
    background-size: cover;
    filter: hue-rotate(60deg);
  }

  &.hidden {
    opacity: 0.1;
    transform: translateY(-100%);
    border-radius: 50%;
  }

  .infoWrapper {
    z-index: 10001;
    position: absolute;
    bottom: 40px;
    right: 40px;
    display: flex;
    color: #999;
    text-transform: uppercase;

    .discord {
      color: #7289DA;
      transition: .2s;

      svg {
        margin-right: 4px;
        transition: .2s;
      }
      
      a {
        color: #7289DA;
        text-transform: uppercase;
        font-weight: 500;
      }

      &:hover {
        color: #5f82ff;

        a {
          color: #5f82ff;
        }

        svg {
          transform: translateX(-4px);
        }
      }
    }

    .version {
      margin-right: 24px;
    }
  }

  img {
    width: 32px;
    height: 32px;
    margin-left: 8px;
  }

  .statusWrapper {
    position: relative;
    top: 200px;
  }
}