.wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  opacity: 1;
  transition: .5s;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../assets/loader-bg.jpg) no-repeat center center fixed;
    background-size: cover;
    filter: hue-rotate(60deg);
  }

  &.hidden {
    opacity: 0.1;
    transform: translateY(-100%);
    border-radius: 50%;
  }

  .discord {
    z-index: 10001;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    color: #7289DA;

    svg {
      margin-right: 4px;
    }
    
    a {
      color: #7289DA;
      text-transform: uppercase;
      font-weight: 500;
    }
  }

  img {
    width: 32px;
    height: 32px;
    margin-left: 8px;
  }

  .statusWrapper {
    position: relative;
    top: 200px;
  }
}