.wrap {
  .joinGame {
    background: url(../../../../../assets/menu/join.png);
    width: 104px;
    height: 103px;
    font-weight: 500;
    transition: 0.15s linear;
    cursor: pointer;
    position: relative;

    &:hover {
      opacity: 0.6 !important;
      color: white;
    }

    div {
      position: absolute;
      left: 43px;
      top: 49px;
      transition: 0.15s transform;
    }

    .cancelText {
      transform: scale(0);
      left: 31px;
    }

    &.joining {
      .joinText {
        transform: scale(0);
      }

      .cancelText {
        transform: scale(1);
      }
    }
  }
}
