.middle {
  display: flex;
  justify-content: center;
  position: relative;
  height: 29px;
}

.wrap {
  button {
    border: none;
    color: #ccc;
    font-size: 15px;
    transform: scale(0.9);
    font-size: 19px;
  }

  .top {
    margin-bottom: -3px;
    position: relative;
  }

  .bottom {
    margin-top: -1px;
    position: relative;
    display: flex;
  }
}
