.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 100%;
  padding: 100px 0;
  box-sizing: border-box;
  background: rgba(32, 32, 32, 0.1);

  button {
    background: transparent;
    color: #ddd;
    font-size: 17px;
    outline: none;
    border: none;
    font-weight: 400;
    width: 100%;
    transition: 0.15s;
    padding: 11px;
    cursor: pointer;
    text-transform: uppercase;
    box-sizing: border-box;
    border-top: 1px solid rgba(40, 40, 40, 0.9);

    & svg {
      margin-right: 2px;
    }

    &:last-child {
      border-bottom: 1px solid rgba(40, 40, 40, 0.9);
    }

    &:hover {
      background: rgba(30, 30, 30, 0.9);
    }
  }
}
