.wrap {
  display: flex;
  flex-direction: column;
  margin-top: -16px;

  &.left {
    button:nth-child(1) {
      margin-left: 34px;
    }

    button:nth-child(2) {
      margin-left: 8px;
    }

    button:nth-child(3) {
      margin-left: -4px;
    }

    button:nth-child(4) {
      margin-left: 8px;
    }

    button:nth-child(5) {
      margin-left: 34px;
    }
  }

  &.right {
    button:nth-child(1) {
      margin-left: -34px;
    }

    button:nth-child(2) {
      margin-left: -8px;
    }

    button:nth-child(3) {
      margin-left: 4px;
    }

    button:nth-child(4) {
      margin-left: -8px;
    }

    button:nth-child(5) {
      margin-left: -34px;
    }
  }
}