body {
  margin: 0;
  font-family: 'Tajawal', sans-serif;
  background-color: #191919;
  color: white;
  overflow-y: hidden;
  overflow-x: hidden;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * { 
    font-family: 'Tajawal', sans-serif; 
  }

  button, img, input {
    vertical-align: middle;
    outline: none;
  }
}

#ReCaptchaV3 {
  display: none;
}